body {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #232323;
    font-family: 'Avenir', Arial, sans-serif;
    justify-content: flex-start;
    padding-top: 30px !important;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

p {
    text-align: center;
    max-width: 1100px;
    margin: 5px auto;
}

.visualization {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
    padding: 30px;
    padding-top: 60px;
    margin: 20px auto;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: #f8f9fa;
    color: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.legend {
    font-family: Arial, sans-serif;
    font-size: 12px;
    fill: #555;
}

.annotation-group {
    pointer-events: none;
}

.unfocused {
    opacity: 0.3;
}

.logo-image {
    max-height: 140px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

@media screen and (max-device-width: 900px) {
  body {
    width: max-content !important;
  }
}

/* --- custom button --- */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

